<div class="container border-top">

    <h3 class="fw-bold  mt-5">Contact</h3>

    <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Nulla hic, eos sunt, cumque et aliquid rem nisi autem
        ipsam, non vel eveniet illum quo est consequuntur optio! Nam, ab in numquam consequatur, cumque vero
        reprehenderit voluptatibus cum, a porro voluptas.</p>

    <form class="bg-light rounded p-5 mx-auto" style="max-width: 800px;">

        <div class="row mb-3">
            <label for="yourEmail" class="col-form-label col-sm-2 fw-bold text-end">Your E-mail</label>
            <div class="col-sm-10">
                <input type="email" class="form-control" id="yourEmail" placeholder="Your email">
            </div>
        </div>

        <div class="row mb-3">
            <label for="yourMessage" class="form-label col-sm-2 fw-bold text-end">Your message</label>
            <div class="col-sm-10">
                <textarea class="form-control" id="yourMessage" rows="3" placeholder="Please enter your message here..."></textarea>
            </div>
        </div>

        <div class="text-end">
            <button type="submit" class="btn btn-primary px-4">Submit</button>
        </div>
    </form>


</div>