
<div class="container-fluid bg-light d-flex py-4  justify-content-center">

    <div class="row ">

        <div class="col-6">
            <h1 class="fw-bold">This First Heading <span class="text-secondary">Will Catch Your Eye</span></h1>
            <p>Add some compelling subtext here to support the headline.</p>
        </div>
        
        <div class="col-6">
            <img src="assets/img/1.jpg" alt="Descriptive text about the image" style="max-width: 300px; max-height: 300px;" class="rounded-circle">

        </div>

    </div>

</div>
