<!-- your html code here -->

<!-- <div class="container-fluid bg-light">


    <div class="row">
        
        <h1 class="col-6">This first heading will catch your eye</h1>

        <img class="col-6" src="../assets/img/1.jpg" alt="">

    </div>



</div> -->

<div class="container-fluid bg-light mx-auto d-flex py-4 align-items-center justify-content-center">

    <div class="row w-100 align-items-center">

        <div class="col-6 text-center">
            <h1 class="fw-bold">This First Heading <span class="text-secondary">Will Catch Your Eye</span></h1>
            <p>Add some compelling subtext here to support the headline.</p>
        </div>
        
        <div class="col-6">
            <img src="assets/img/1.jpg" alt="Descriptive text about the image" style="max-width: 300px; max-height: 300px;" class="rounded-circle">

        </div>

    </div>

</div>
