
<div class="container bg-white d-flex justify-content-center border-top my-5">

    <div class="row my-5">

        <div class="col-9">
            <h3 class="fw-bold">This First Heading <span class="text-secondary">Will Catch Your Eye</span></h3>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Sint ullam beatae, ipsa aut expedita assumenda dignissimos reiciendis veniam cumque distinctio dicta ducimus mollitia pariatur soluta animi commodi vero quo voluptates.</p>
        </div>
        
        <div class="col-3">
            <img src="assets/img/1.jpg" alt="IamDanger" style="max-width: 250px; max-height: 250px;" class="rounded-circle">
        </div>

    </div>

</div>
