<div class="container border-top py-6 mb-5">

    <h3 class="fw-bold  mt-5">Portfolio</h3>

    <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Iste iusto laboriosam rerum perspiciatis error, eos
        nam? Quisquam rem ipsum illo facilis ullam saepe voluptates, consectetur cumque provident, ab necessitatibus
        optio!</p>


    <div class="row ">

        <!-- 1st card -->
        <div class="col-4">
            <div class="card border-white">
                <img src="assets/img/big-project-image.png" class="card" alt="image">

                <div class="card-body">
                    <h4 class="card-title text-primary">Project Name</h4>

                    <p class="card-text">Lorem ipsum dolor sit amet consectetur adipisicing elit. Numquam hic nihil quaerat perspiciatis cum rerum, veniam ad a nobis non.</p>
                </div>
            </div>
        </div>

        <!-- 2nd card -->
        <div class="col-4">
            <div class="card border-white">
                <img src="assets/img/big-project-image.png" class="card" alt="image">

                <div class="card-body">
                    <h4 class="card-title text-primary">Project Name</h4>

                    <p class="card-text">Lorem ipsum dolor sit amet consectetur adipisicing elit. Numquam hic nihil quaerat perspiciatis cum rerum, veniam ad a nobis non.</p>
                </div>
            </div>
        </div>


        <!-- 3rd card -->
        <div class="col-4">
            <div class="card border-white">
                <img src="assets/img/big-project-image.png" class="card" alt="image">

                <div class="card-body">
                    <h4 class="card-title text-primary">Project Name</h4>

                    <p class="card-text">Lorem ipsum dolor sit amet consectetur adipisicing elit. Numquam hic nihil quaerat perspiciatis cum rerum, veniam ad a nobis non.</p>
                </div>
            </div>
        </div>

    </div>

</div>