
<div class="container-fluid bg-white d-flex justify-content-center border-top align-items-center">
    <div class="row my-5">
        <div class="col-md-3 d-flex justify-content-end">
            <img src="assets/img/2.jpg" style="max-width: 250px; max-height: 250px;" class="img-fluid rounded-circle">

        </div> 
        <div class="col-md-9">
            <h3 class="fw-bold text-top">The Second Heading <span class="text-secondary text-top">Is Pretty Cool Too.</span></h3>                    
            <p class="text-top">Lorem ipsum dolor sit amet consectetur adipisicing elit. Ab iusto laboriosam voluptates nisi amet libero ullam doloribus velit error quam, officia praesentium explicabo placeat, aut illo blanditiis nemo neque numquam possimus incidunt cumque tempore non ea maxime! Cupiditate minus omnis iure nemo? Aliquam, quidem deserunt. Exercitationem voluptas at voluptates sit.</p>
        </div>

    </div>
</div>