
<div class="container bg-white border-top my-5">
    <div class="row my-5 align-items-center">

        <div class="col-md-3">
            <img src="assets/img/2.jpg" alt="IamDanger" style="max-width: 250px; max-height: 250px;" class="img-fluid rounded-circle">
        </div>

        <div class="col-md-9">
            <h3 class="fw-bold">The Second Heading <span class="text-secondary">Is Pretty Cool Too.</span></h3>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Sint ullam beatae, ipsa aut expedita assumenda dignissimos reiciendis veniam cumque distinctio dicta ducimus mollitia pariatur soluta animi commodi vero quo voluptates.</p>
        </div>
    </div>
</div>